flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "MQTT Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0ffd92a12a374fd1",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7613d289dbc2de4d",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mqtt-server",
        "port": "1883",
        "clientid": "kubeedge",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "929186557673baf6",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "927392c6f34d0900",
        "type": "ui_tab",
        "name": "Temporal",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "af0ac54f95caa551",
        "type": "ui_group",
        "name": "Charts",
        "tab": "927392c6f34d0900",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dcf8f927e7121a5e",
        "type": "ui_group",
        "name": "Gauges",
        "tab": "927392c6f34d0900",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b97513774bd3105b",
        "type": "inject",
        "z": "3af82246.3634ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "message",
        "payload": "{\"event_id\":\"123e4567-e89b-12d3-a456-426655440000\",\"timestamp\":1597213444,\"data\":{\"temperature\":{\"value\":\"12\",\"metadata\":{\"timestamp\":1597213444,\"type\":\"int\"}},\"humidity\":{\"value\":\"63\",\"metadata\":{\"timestamp\":1597213444,\"type\":\"int\"}}}}",
        "payloadType": "json",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "14d460eca4f5a4f0"
            ]
        ]
    },
    {
        "id": "4ad1a7be47dcb3b7",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "c476287533c30424",
        "type": "mqtt in",
        "z": "3af82246.3634ae",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "7613d289dbc2de4d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "26a1800962ce8310"
            ]
        ]
    },
    {
        "id": "26a1800962ce8310",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 380,
        "wires": []
    },
    {
        "id": "14d460eca4f5a4f0",
        "type": "json",
        "z": "3af82246.3634ae",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 320,
        "y": 100,
        "wires": [
            [
                "967447ff34b32d49"
            ]
        ]
    },
    {
        "id": "9ccdc6752dfbdf71",
        "type": "link out",
        "z": "3af82246.3634ae",
        "name": "temperature_json",
        "mode": "link",
        "links": [
            "98dabf8d889dda19"
        ],
        "x": 615,
        "y": 160,
        "wires": []
    },
    {
        "id": "967447ff34b32d49",
        "type": "function",
        "z": "3af82246.3634ae",
        "name": "Extract temperature",
        "func": "var result = {};\n\nresult.payload = msg.payload.data.temperature.value;\nresult.topic = 'temperature';\n\nreturn result;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 60,
        "wires": [
            [
                "9ccdc6752dfbdf71"
            ]
        ]
    },
    {
        "id": "fa7abefb7f85b63b",
        "type": "ui_chart",
        "z": "0ffd92a12a374fd1",
        "name": "Temperature",
        "group": "af0ac54f95caa551",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 330,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3d67d7f44718ed08",
        "type": "ui_gauge",
        "z": "0ffd92a12a374fd1",
        "name": "Temperature",
        "group": "dcf8f927e7121a5e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 330,
        "y": 200,
        "wires": []
    },
    {
        "id": "98dabf8d889dda19",
        "type": "link in",
        "z": "0ffd92a12a374fd1",
        "name": "temperature.json",
        "links": [
            "9ccdc6752dfbdf71"
        ],
        "x": 95,
        "y": 140,
        "wires": [
            [
                "fa7abefb7f85b63b",
                "3d67d7f44718ed08"
            ]
        ]
    }
]